<div class="container-fluid">
  <h2 class="text-center">Input a quote</h2>
  <hr>
  <form (ngSubmit)="submitQuote()" #quotesform="ngForm">
      <div class="form-group">

          <label for="quote">Quote: </label>
          <!-- <input type="text" required class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required> -->
          <textarea name="quote" id="quote" cols="15" rows="5" class="form-control" [(ngModel)]="newQuote.quote" #quote="ngModel" ></textarea>
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-denger">
            Display {{newQuote.quote}}
            <p>Quote is required</p>
          </div>

          <label for="quoteBy">Author: </label>
          <input type="text" required class="form-control" id="quoteBy" [(ngModel)]="newQuote.quoteBy" name="quoteBy" #quoteBy="ngModel" required>
          <div [hidden]="quoteBy.valid || quoteBy.pristine" class="alert alert-denger">
            Display {{newQuote.quoteBy}}
            <p>Author is required</p>
          </div>

          <label for="quotecontribtor">Your Name</label>
          <input type="text" required class="form-control" id="quoteBy" [(ngModel)]="newQuote.quoteContributor" name="quoteBy" #quoteContributor="ngModel" required>
          <div [hidden]="quoteContributor.valid || quoteContributor.pristine" class="alert alert-denger">
            Display {{newQuote.quoteContributor}}
            <p>Your name is required</p>
          </div>

      </div>
      <button type="submit" class="btn btn-success" style="margin-top: 8px;">Add Quote</button>
      
  </form>
</div>
