<div class="container-fluid">
  <h2 class="text-center">Input a quote</h2>
  <hr>
  <form (ngSubmit)="submitQuote()" #quotesform="ngForm">
      <div class="form-group">

          <label for="quote">Quotes</label>
          <input type="text" required class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required>
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-denger">
            Display {{newQuote.quote}}
            <p>Quote is required</p>
          </div>
          <input type="text" required class="form-control" id="quoteBy" [(ngModel)]="newQuote.quoteBy" name="quoteBy" #quoteBy="ngModel" required>
          <div [hidden]="quoteBy.valid || quoteBy.pristine" class="alert alert-denger">
            Display {{newQuote.quote}}
            <p>Quote is required</p>
          </div>

      </div>
      <button type="submit" class="btn btn-success">Add Quote</button>
      
  </form>
</div>
