<h1>Quotes</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Quotes List</h1>    
     
      <ul *ngFor='let quote for userquotes'>
        <li> {{ quote.quote }} <span class ="text-primary"> Upvote: {{quote.upvote}}</span> <span class="text-warning"> Downvote: {{quote.downvote}}</span>     
        </li>
      </ul>


    </div>
    <div class="col-md-6">
      <h1>Quotes Form</h1>
      <app-quotesform (addQuote)="addNewQuote($event)"></app-quotesform>
      
    </div>

  </div>
</div>


