<h1>Quotes</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class= "app-description">Please share your favorite inspirational quote. <br> It can be a quote by your favorite actor, musician, <br> author, mentor or even one that you came up with !</p> 
      <p>Here are some favorite quotes: </p>
        <ul>
          <li> "We cannot solve our problems with the same thinking we used when we created them." <em>Albert Einstein. </em>

          </li>
          <li>
            “You’re you, you see, and nobody else. You are you, right?” <em>Haruki Murakami</em>
          </li>
        </ul>
    </div>
    <div class="col-md-6">
      <h1>Quotes List</h1>   
      
      
     
      <ul *ngFor='let quote for userquotes'>
        <div *ngIf="quote.id == 1; then highlight else empty"></div>
        <ng-template #highlight>
          <li appHighlight> {{ quote.quote }} <span class ="text-primary"> Upvote: {{quote.upvote}}</span> <span class="text-warning"> Downvote: {{quote.downvote}}</span>     
          </li>

        </ng-template>
        <ng-template #empty>
          <li> {{ quote.quote }} <span class ="text-primary"> Upvote: {{quote.upvote}}</span> <span class="text-warning"> Downvote: {{quote.downvote}}</span>     
          </li>

        </ng-template>
        
      </ul>


    </div>
    <div class="col-md-6">
      <h1>Quotes Form</h1>
      <app-quotesform (addQuote)="addNewQuote($event)"></app-quotesform>
      
    </div>

  </div>
</div>


