/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";  
  
  body {
  
  font-family: Arial, Helvetica, sans-serif;
  
  line-height: 1.4;
  box-sizing: border-box;
  
  margin: 0;
  
  padding: 0;
  
  }
  li {
    color:black;
    font-size: 20px;
  }
  .app-description {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .quotes-list li {
    background-color:#f5f5f5 ;
    

  }
  #list {
    color: #555;
    font-size: 20px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;

  }
  #list {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
  }


  .myquotes {
    /* font-family: 'Poppins', sans-serif; */
    font-family: courier, monospace;
    font-size: 20px;

  }
  .quote-votes{
    padding-top: 10px;
  }
  .upvote {
    margin-left: 30px;
  }
  .downvote {
    margin-left: 40px;
  }
  #delete-btn {
    margin-left: 30px;
  }
